<html>
	
	<head>
		<title>Le blog d'Antoine</title>
	</head>

	<body>

		<div>
			<h1><a href=""> Le blog Django de Moi, Waho!!</a></h1>
		</div>


		<div>
			<p>Publié: aujourd'hui </p>
		
		<h2><a href="">Mon premier Post!</a></h2>

			<p>La Grelotine c’est un jeu du pays de Galles. C'est facile. On peut jouer avec soit des haricots soit des lentilles. Le premier qui annonce la mise dit, mettons, "lance de 16" ou "lance de 32″, ou une "quadruplée" qu’on appelle, c’est une lance de 64, parce qu’on avance de 16 en 16 sauf pour les demi coups. Là, celui qui est à sa gauche soit il augmente au moins de 4 soit il passe et il dit "passe grelot" , soit il parie qu’il va monter au moins de 6 ou de 7, il peut tenter la grelotine. A ce compte là il joue pas, il attend le tour d’après et si le total des mises des 2 autres ne suffit pas à combler l’écart, il gagne sa grelotine et on commence le tour avec des mises de 17 en 17. Mettons là que le suivant annonce une quadruplée, là elle vaut 68, il peut contrer ou il se lève et il tape sur ses haricots en criant "grelote ça piquotte" et il tente la relance jusqu’au tour d’après.</p>

		</div>

		<div>
			<p>Publié: Il y a 3 minutes</p>

		<h2><a href="">Mon second post</a></h2>
			<p>Il faut entre 120 et 130 artichauts, voir plus. La partie s'organise en plusieurs donnes successives (manches) qui peuvent être asymétriques ou bissextiles. Le vainqueur de la donne doit classer ses artichauts du plus lisse au plus râpeux. Ça peut être long, c'est pour ça qu'il faut tenter de diminuer son nombre d artichauts soit :
</br>- en faisant un tour de troque ou on peut refiler jusqu'à 17% pour de
ses artichauts
</br>- en achetant la banque, ce qui double les points de votre voisin et
diminue de moitié votre nombre d artichauts, c'est la raitournelle.
<br>La 2ème possibilité n'est possible que s'il n y a plus d'artichauts dans
la banque, si cette condition n'est pas vérifiée on peut faire artichette. Si c'est votre voisin de gauche qui achète la banque il doit refourguer 17% des artichauts qu'il a gagner dans la donne précédente, vous pouvez alors faire artichette et coller le banquier a -6 pour tenter à votre tour la raitournelle. Si ça passe, vous balancez les annonces : artichette, tichette de 2, tichette de 3, tichette de 21, michette, tchiledeque, mique , sganabadarlane, résiné et raitournelle.</p>

		</div>

	</body>

</html>
