<html>
	
	<head>
		<title>Le blog d'Antoine</title>
	</head>

	<body>

		<div>
			<h1><a href=""> Le blog Django de Moi, Waho!!</a></h1>
		</div>


		<div>
			{% for post in posts %}
				<div>
        				<p>publié: {{ post.published_date }}</p>
        				<h1><a href="">{{ post.title }}</a></h1>
        				<p>{{ post.text|linebreaksbr }}</p>
    				</div>
			{% endfor %}

		</div>

		<div>
			<p>Publié: Il y a 3 minutes</p>

		<h2><a href="">Mon second post</a></h2>
			<p>Il faut entre 120 et 130 artichauts, voir plus. La partie s'organise en plusieurs donnes successives (manches) qui peuvent être asymétriques ou bissextiles. Le vainqueur de la donne doit classer ses artichauts du plus lisse au plus râpeux. Ça peut être long, c'est pour ça qu'il faut tenter de diminuer son nombre d artichauts soit :
</br>- en faisant un tour de troque ou on peut refiler jusqu'à 17% pour de
ses artichauts
</br>- en achetant la banque, ce qui double les points de votre voisin et
diminue de moitié votre nombre d artichauts, c'est la raitournelle.
<br>La 2ème possibilité n'est possible que s'il n y a plus d'artichauts dans
la banque, si cette condition n'est pas vérifiée on peut faire artichette. Si c'est votre voisin de gauche qui achète la banque il doit refourguer 17% des artichauts qu'il a gagner dans la donne précédente, vous pouvez alors faire artichette et coller le banquier a -6 pour tenter à votre tour la raitournelle. Si ça passe, vous balancez les annonces : artichette, tichette de 2, tichette de 3, tichette de 21, michette, tchiledeque, mique , sganabadarlane, résiné et raitournelle.</p>

		</div>

	</body>

</html>
